{% extends 'WsbPozBundle:Default:base.html.twig' %}


{% block title %}Admin - dodawanie nowego aktora{% endblock %}

{% block content %}
    {% if app.session.flashBag.has('failure') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('failure') %}
                !!!! ============ {{ msg }} ================= !!!
            {% endfor %}
        </div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
